<div>
  <%= form_with url: '/profiles', method: :get, local: true do %>
    <%= label_tag :username, 'Search for: ' %>
    <%= text_field_tag :username %>

    <%= submit_tag 'Search' %>
  <%end %>

  <% @users.each do |user| %>
    <p>
      <%= link_to user.username, profile_path(user.id) %>
      (
        <% if user.eql? current_user %>
          You
        <% elsif user.has_friendship_with?(current_user) %>
          <% if user.friendship_with(current_user).accepted_at? %>
            You're friends!
          <% elsif user.friendship_with(current_user).rejected_at? %>
            Request rejected
            <% if user.friendship_with(current_user).friend.eql? current_user %>
              by you
            <% end %>
          <% else %>
            Request sent
            <% if user.friendship_with(current_user).friend.eql? current_user %>
              to you
            <% end %>
          <% end %>
        <% else %>
          <%= link_to 'Send friend request', send_request_path(user.id), method: :post %>
        <% end %>
      )
    </p>
  <% end %>
</div>
