<div>
  <h3><%= @user.username %>'s profile</h3>

  <p>
    <% if current_user&.eql? @user %>
      <%= link_to "Upload photos", new_photo_path %>
    <% end %>
  </p>

  <% if @user.photos.empty? %>
    <p>There is still no photos to display.</p>
  <% else %>
    <% @user.photos.each do |photo| %>
      <%= link_to photo_path(photo) do %>
        <%= image_tag photo.photo.variant(resize: '200', gravity: 'Center', crop: '200x200+0+0') %>
      <% end %>
    <% end %>
  <% end %>

  <h4>Friends</h4>
  <% if @user.friends.empty? %>
    <p>
      No friends yet.
      <% if current_user&.eql? @user %>
        Add friends <%= link_to 'here.', profiles_path %>
      <% end %>
    </p>
  <% else %>
    <% @user.friends.each do |user| %>
      <%= link_to user.username, profile_path(user.id) %>
    <% end %>
  <% end %>

  <% if current_user&.eql? @user %>
    <h4>Friend Requests</h4>
    <% if @requests.empty? %>
      <p>No friend requests yet.</p>
    <% else %>
      <% @requests.each do |request| %>
        <%= link_to request.user.username, profile_path(request.user.id) %>
        (
          <%= link_to 'Accept', accept_request_path(request.id), method: :post %> |
          <%= link_to 'Decline', decline_request_path(request.id), method: :post %>
        )
      <% end %>
    <% end %>
  <% end %>
</div>
